*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("../img/aboutbg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-end;
    padding: 0px 40px 0px 40px;
}

.navbar li{
    list-style: none;
    padding: 15px;

}

.navbar li a{
    text-decoration: none;
    color: peachpuff;
    font-size: 130%;
}

.navbar li a:hover{
    color: midnightblue;
}

.about{
    width: 35%;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: -70px;
    font-size: 115%;
    color: peachpuff;
}

.profile{
    width: 150px;
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

@media only screen and (orientation:portrait){
    .about{
        font-size: 90%;
        margin-top: auto;
        width: 70%;
    }
}


@media only screen and (min-height:900px){
    .about{
        font-size: 175%;
        margin-top: auto;
    }
}
